.company-logo {
    width: 200px;
    height: 200px;
    float: left;
    margin: auto;
}

.logo {
    justify-items: center;
}

.Card {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px black;
    min-height: 250px;
}

.card > a {
    color: black;
}
.card-description {
    bottom: 3px;
    right: 3px
}

.company-description {
    text-align: center;
}