.card-container {
    background-color: #A4D3B7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-color: white;
    background-image: url("../assets/images/bg_picture.jpeg"); */
}
