.Home {
    height: calc(100vh - 150px);
    display: flex;
    align-items: center;
    min-height: 100vh;
}

#homecard {
    padding: 50px;
    border: 1px solid #FFE5B4;
    padding: 10px;
    box-shadow: 5px 10px 18px black;
    min-height: 250px;
    max-width: 600px;
}
